<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3.记事本案例</title>
</head>
<body>
    <div id="app">
        输入日记: <input type="text" v-model="note">
        <button @click="addNote">添加</button><br>
        已存在的日记:<br>
        <textarea cols="30" rows="10" v-model="data" readonly></textarea>
        <button @click="clearNote">清空</button>
    </div>

    <script type="module">
        import { createApp, ref, computed  } from './js/vue.esm-browser.js'

        createApp({
            setup() {
                const note = ref(""); // 使用 ref 创建响应式数据
                const data = ref([]); // 使用 ref 创建响应式数组

                const addNote = () => {
                    if (note.value === "") {
                        alert("请输入内容");
                    } else {
                        data.value.push(note.value); // 将 note 添加到 data
                        note.value = ""; // 清空输入框
                    }
                };

                const clearNote = () => {
                    data.value = []
                }

                return {
                    note,
                    data,
                    addNote,
                    clearNote
                };
            }
        }).mount("#app");
    </script>
</body>
</html>
